<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class ="navbar-brand" href="/" >Mongo News Scraper</a>
    <a class="btn btn-primary" href="/scrape" role="button">Scrape Buzzfeed News</a>
  
        {{!-- <li><a href="/scrape" >Scrape Buzzfeed News</a></li> --}}
        {{!-- <li><a href="/saved" >Saved Articles</a></li>
        <li><a href="/deleted" >Deleted Articles</a></li> --}}
    {{!-- </ul> --}}
</nav>

<div class ="container">
    <br>
    <h1>Scraped Articles</h1>
    <br>
    <div id ="display-articles">
        {{#each article}}   
        <div class ="row">
            <div class="col-10">

                <h3>{{this.title}}</h3>
                <a href ='/readArticle/{{this._id}}'>Read Article</a>
                <h4><a href="{{this.link}}"</a></h4>
                <img src="{{this.photo}}"/>
                
            </div>
        </div> 
        {{/each}}
    </div>
</div>